$padding: 20px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "roboto", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 200;
  font-size: 20pt;
  color: white;
}

#app {
  height: 100vh;
  background-color: #1ca0d1;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.font {
  &-large {
    font-size: 1.25em;
  }

  &-small {
    font-size: 0.75em;
  }

  &-bold {
    font-weight: 600;
  }
}

.yellow {
  background-color: #f3e369;
}

.blue {
  background-color: #9fb0f3;
}

.square {
  height: 0.75em;
  width: 0.75em;
}

.flex {
  display: flex;
  justify-content: space-between;

  &-column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }

  &.space-around {
    justify-content: center;
  }
}

.container {
  margin: $padding;
  padding: $padding;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.parent {
  margin-bottom: -$padding;
}

.precip {
  padding-left: 0.5em;
}

.weather {
  .info {
    padding-left: $padding;

    .high {
      padding-right: $padding;
    }
  }

  .icon {
    img {
      height: 4em;
      width: 4em;
    }
  }
}

.poncho {
  position: absolute;
  bottom: 0;
  padding-bottom: 2*$padding;

  &__header {
    padding-bottom: $padding;
    text-align: center;
  }

  &__opener, &__content {
    padding-bottom: 15px;
  }

  &__media {
    text-align: center;
  }

  &__img {
    max-height: 6em;
    min-height: 3em;
  }
}

.time {
  text-align: right;
}

.hourly-info {
  .header {
    padding-bottom: 0.75em;
  }

  &__hours {
    position: relative;
    height: 6em;
  }

  .rain-precip {
    position: relative;
    width: 10px;
  }

  .side-pad {
    padding: 0 15px;
  }
}

.weather-day {
  text-align: center;
  .icon {
    padding: 5px 0;
    img {
      width: 50%;
      height: 50%;
    }
  }

  .temps {
    line-height: 1.1em;
  }

  .max-temp {
    padding-right: 0.75em;
  }
}
