$weather_width: 40%;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "roboto", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 200;
  color: white;
}

#app {
  height: 100vh;
  background-color: #1ca0d1;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-size: 28pt;
}

.font-large {
  font-size: 46pt;
}

.font-bold {
  font-weight: 600;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 30px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.news {
  &__item {
    font-size: 9pt;
    padding: 4px 0;
  }

  &__icon {
    margin-right: 5px;
  }
}

.weather {
  width: $weather_width;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;

    &__high {
      padding-right: 20px;
    }

    &__prob {
      padding-left: 10px;
    }
  }
}

.poncho {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 50px;

  &__header {
    padding-bottom: 20px;
    text-align: center;
  }

  &__opener, &__content {
    padding-bottom: 15px;
  }

  &__media {
    text-align: center;
  }

  &__img {
    min-height: 350px;
  }
}

.time {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__date {
    line-height: 1.3em;
  }
}

.future {
  width: $weather_width;
}

.weather-info {
  &__tow {
    width: 20%;
  }

  &__icon {
    .img {
      height: 1em;
    }
  }
}

