html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "roboto", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 200;
  font-size: 20pt;
  color: white;
}

#app {
  height: 100vh;
  background-color: #1ca0d1;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.font-large {
  font-size: 25pt;
}

.font-bold {
  font-weight: 600;
}

.yellow {
  background-color: #f3e369;
}

.blue {
  background-color: #9fb0f3;
}

.square {
  height: 0.75em;
  width: 0.75em;
}

.side-pad {
  font-size: 0.75em;
  padding: 0 15px;
}

.flex {
  display: flex;
  justify-content: space-between;

  &-column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }
}

.container {
  margin: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.weather {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;

    &__high {
      padding-right: 20px;
    }
  }

  &__icon {
    img {
      height: 4em;
      width: 4em;
    }
  }
}

.poncho {
  position: absolute;
  bottom: 0;
  padding-bottom: 50px;

  &__header {
    padding-bottom: 20px;
    text-align: center;
  }

  &__opener, &__content {
    padding-bottom: 15px;
  }

  &__media {
    text-align: center;
  }

  &__img {
    max-height: 6em;
    min-height: 3em;
  }
}

.time {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__date {
    line-height: 1.3em;
  }
}

.future {
  width: 57%;
}

.weather-info {
  &__tow {
    width: 20%;
  }

  &__icon {
    .img {
      height: 1em;
    }
  }
}

.hourly-info {
  .header {
    padding-bottom: 0.75em;
  }

  &__hours {
    position: relative;
    height: 8em;
  }

  .rain-precip {
    position: relative;
    width: 10px;
  }

  .labels {
    font-size: 0.75em;
  }
}

