{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "jsonFlickrApi" }],
    "no-eval": 0
  }
}
